<div id="signupid" class="container">
  <button id="set"><font color="green">Test</font></button><br><br>

  <div class="row">
  <div id="signup" class="col-sm-4 ">
    <h1><font color="black">Questions</font></h1>
    <br>
    <br>
    <div class="form-group">
      <label for="name"><font color="blue"></font></label>
      <input type="text" class="form-control" id="Question" placeholder="Ouestion" name="Ouestion" required #Question><br>
      </div>
      <br>
     

<div class="form-group">
<label for="name"><font color="blue"></font></label>
<input type="text" class="form-control" id="1" placeholder="option 1" name="option1" required #option1><br>
</div>

<div class="form-group">
<label for="name"><font color="blue"></font></label>
<input type="text" class="form-control" id="2" placeholder="option 2" name="option2" required #option2><br>
</div>
<div class="form-group">
<label for="text"><font color="green"><font color="red"></font></font></label>
<input type="text" class="form-control" id="3" placeholder="option 3" name="option3" required #option3><br>
</div>
<div class="form-group">
<label for="pwd"><font color="orange"><font color="red"></font></font></label>
<input type="text" class="form-control" id="4" placeholder="option 4" name="option4" required #option4><br>
</div>
<div class="col-sm-2">


</div>


<div class="row">
<div class="col-sm-2">
<button type="submit" class="btn btn-success"  routerLink="/test" (click)="submit()">Next</button></div>
<div class="col-sm-4"></div>
<div class="col-sm-2">
  <button type="submit" class="btn btn-danger" routerLink="/arul">Cancel</button>
  </div>
</div>
</div>
</div>
</div>
<router-outlet></router-outlet>