.container{
    margin-left:600px
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
h1{

    font-color:green;
    margin-left:500px
}

#containid{
    margin-left:50px
}