
<div id="mySidenav" class="sidenav">
    <a routerLink="javascript:void(0)" class="closebtn"></a>
    <!-- <a routerLink="/admin"><font color="white">Owner</font></a> -->
    <a routerLink="/meanstack"><font color="white" >Admin</font></a>
    <a routerLink="/arul"><font color="white" >User</font></a>
    <!-- <a routerLink=""><font color="white"></font></a> -->
   </div>
   <span id="id2" style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>

   <!-- <div class="container">
     <div class="form-group" >
    <button type="button" class="btn btn-danger" name="button" id="superid">Supervisor</button> 
    
   
  </div>
     
   </div>
   <div class="container">
      <div class="form-group" >
     <button type="button" class="btn btn-success" name="button">Customer</button> 
     
   
   </div>
      
    </div> -->
 <router-outlet></router-outlet>